<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.korba.gdziejestmojpromotor2">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        >
        <activity
            android:name=".controler.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controler.HelpActivity" />
        <activity
            android:name=".controler.RegisterActivity"
            android:label="Nowy Użytkownik"
            android:screenOrientation="portrait" />
        <activity android:name=".controler.StartActivity" />
        <activity android:name=".controler.SettingsActivity" />
        <activity android:name=".controler.Change_PasswordActivity" />
        <activity android:name=".controler.DeleteAccountActivity" />
        <activity android:name=".controler.UpdateUserActivity"></activity>
    </application>

</manifest>